NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb://Inventory:Inventorymugunth01@ac-6t3u049-shard-00-00.vymslfq.mongodb.net:27017,ac-6t3u049-shard-00-01.vymslfq.mongodb.net:27017,ac-6t3u049-shard-00-02.vymslfq.mongodb.net:27017/inventoryDB?ssl=true&authSource=admin&retryWrites=true&w=majority
